@import "tailwindcss";

/* fonts import */
@font-face {
  font-family: "Manrope";
  src: url("FONTS/Manrope/static/Manrope-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("FONTS/Inter/static/Inter_18pt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
